body {
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
    background-color: #171516;
    color: #fff;
    scroll-behavior: smooth;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}

.welcome-section h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.line {
    width: 85%;
    height: 2px;
    background-color: white;
}

.img-welcome img {
    width: 600px;
}

.name {
    font-size: 4em;
    line-height: 1.2;
}

.title {
    font-size: 1.125rem;
    margin-top: 10px;
    text-align: center;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    background-color: #020202a1;
    z-index: 100;
}

.navbar .nav-left a {
    color: white; 
    text-decoration: none;
    padding: 5px 10px; 
    transition: background-color 0.3s ease; 
}

.navbar .nav-left a:hover {
    background-color: white; 
    color: black;
    border-radius: 10px;
}

.test {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.nav-left>* {
    margin: 0 30px;
}

#callToScroll {
    margin: auto;
    height: 34px;
    width: 20px;
    border: 1px #ffffff solid;
    border-radius: 11px;
  }
  
  #callToScroll:after {
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 2px auto;
    opacity: 0;
    animation: animateScroll 1.25s infinite;
    will-change: transform;
  }
  
  @keyframes animateScroll {
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(24px);
      opacity: 0;
    }
  }


.text-container {
    background-color: #171516;
    padding: 40px;
    border-radius: 8px;
}

.divider {
    height: 2px;
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
}

.text-container h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}

.text-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
}

.skills-section {
    padding: 40px;
}

.skills-section h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}

.divider2 {
    height: 3px;
    background-color: #fff;
    width: 100%;
    margin: 30px auto;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    height: 80px;
    margin-bottom: 10px;
}

.skill-item p {
    font-size: 1em;
    color: white;
}

@media (max-width: 600px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-item {
        width: 100%;
    }
}

.mes-projets {
    margin-top: 60px;
    padding: 40px;
}

.divider3 {
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    margin: 30px auto;
}

.gallery-container {
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 860px;
    position: relative;
}

.gallery-item {
    height: 300px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: auto;
    z-index: 0;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 370px;
    opacity: 1;
    width: 760px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
    height: 470px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.225rem;
    margin: 0 25px 0 25px;
    text-transform: capitalize;
    color: var(--fill);
}

.gallery-controls-précédente {
    position: relative;
}

.gallery-controls-précédente::before {
    border: solid var(--fill);
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left .15s ease-in-out;
    width: 5px;
}

.gallery-controls-suivante:hover::before {
    right: -40px;
}


.footer {
    padding: 20px;
    background-color: #111010;
    text-align: center;
}

.footer nav {
    display: inline-block;
    margin-bottom: 10px;
}

.footer nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0 70px;
    transition: background-color 0.3s ease; 
}

.footer a:hover {
    background-color: white; 
    color: black;
    border-radius: 10px;
}

.line2 {
    height: 3px;
    width: 90%;
    background-color: white;
    margin-top: 10px;
    margin: auto;
}

/* Ajustements pour les écrans de taille moyenne */
@media (max-width: 1024px) {
    .welcome-section {
        flex-direction: column;
        height: auto;
        padding-top: 50px;
    }

    .welcome-section h1 {
        font-size: 2.5em;
        text-align: center;
    }

    .img-welcome img {
        width: 80%;
        max-width: 400px;
    }

    .name {
        font-size: 3em;
        text-align: center;
    }

    .title {
        font-size: 1rem;
        text-align: center;
    }

    .navbar {
        height: 10vh;
        font-size: 14px;
    }

    .test {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #callToScroll {
        display: none;
    }

    .text-container {
        padding: 20px;
    }

    .text-container h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .text-container p {
        font-size: 0.9em;
        text-align: center;
    }

    .skills-section h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .skills-container {
        justify-content: center;
    }

    .skill-item {
        width: 80%;
    }

    .mes-projets {
        padding-top: 60px;
    }

    .gallery-container {
        height: 300px;
        max-width: 600px;
        padding-top: 20px;
    }

    .gallery-item {
        height: 200px;
    }

    .gallery-item-2, .gallery-item-4 {
        height: 250px;
        width: 500px;
    }

    .gallery-item-3 {
        height: 350px;
        width: 600px;
    }

    .gallery-controls {
        margin: 40px 0;
    }

    .footer nav a {
        padding: 0 20px;
    }
}

/* Ajustements pour les écrans plus petits */
@media (max-width: 600px) {
    .welcome-section h1 {
        font-size: 2em;
        padding-top: 10px;
    }

    .img-welcome img {
        width: 90%;
    }

    .name {
        font-size: 2.5em;
    }

    .title {
        font-size: 0.9rem;
    }

    .skills-section h1 {
        font-size: 1.2em;
    }

    .mes-projets {
        padding-top: 90px;
    }
    

    .gallery-container {
        height: 200px;
        max-width: 400px;
        padding-top: 10px;
    }

    .gallery-item {
        height: 150px;
    }

    .gallery-item-2, .gallery-item-4 {
        height: 200px;
        width: 400px;
    }

    .gallery-item-3 {
        height: 250px;
        width: 450px;
    }

    .gallery-controls {
        margin: 40px 0;
    }

    .footer nav a {
        padding: 0 10px;
    }
}
